* {
    margin: 0;
    padding: 0;
}

/* header section style */
header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    align-items: center;
    background-size: 100vh;
}

h1 {
    font-size: 40px;
    color: #272727;
    font-weight: 800;
}

.paragraph-description {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 400;
    color: #27272799;
}

.header-title {
    padding-left: 140px;
    max-width: 300px;
}

.banner-img {
    width: 400px;
    height: 500px;
    padding-top: 60px;
    padding-right: 200px;
}

.primary-btn {
    background-color: #f0257994;
    padding: 16px 32px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

/* section images styles */
h3 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 10px;
}

.our-featured {
    text-align: center;
    padding-top: 150px;
}

.images-area {
    display: flex;
    justify-content: center;
}

.flower-img {
    height: 250px;
    width: 250px;

    padding-top: 70px;
    padding-left: 50px;


}

.pink-flower {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.section-img-1 {
    background-color: #A7216226;
    border-radius: 150px 150px 0 0;
}

.section-img-2 {
    background-color: #A7216226;
    border-radius: 150px 150px 0 0;
    margin-left: 10px;
    border-color: #0597A026;
}

.section-img-3 {
    background-color: #A7216226;
    border-radius: 150px 150px 0 0;
    margin-left: 10px;
    background-color: #477D1126;
}

/* support icon styles */

.support-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-bottom: 100px;

}

/* discount section styles */

.discount{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E554730D;
    padding-top: 100px;
    padding-bottom: 100px;
}
.off{
    color: #E55473;
}
.discount-offer{
    text-align: center;
}
/* images gallary style */
.img-gallary{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.gellary-flwer-img{
    margin: 10px 10px;
    width: 250px;
}